{% set loggedInUser = app.session.get('User') %}

{% block title %}FrontEndBundle:Homepage:index{% endblock %}



{% block javascript %}

<script type='text/javascript' src='js/jquery.js'></script></script>
<script type='text/javascript' src='js/core.js?v=1'></script>

{% endblock %}



{% block body %}

<h1>Welcome to the Homepage:index page</h1>
{{ dump(loggedInUser) }}
<br><br>

{% endblock%}



{% block logout_button%}

<a href="{{ path('logout') }}"><b>logout</b></a><br><br><br>

{% endblock %}



{% block search %}

<input class="search_text" type="text" id="search_string">
<div class="search">
<button type="button" class="search_box" id="search_btn">Search</button><br><br><br><br>
</div>

<<<<<<< HEAD
{% block admin %}
<a href="{{ path('admin') }}"><b><h4>Click here to go to admin panel</h4></b></a>
=======
>>>>>>> e3d086de0684063fbdecb81ac31b5b63ab3dab7f
{% endblock %}



{% block content %}

<div id='filter'>
{%set category = 0%}
{%for subCategory in subCategories %}
{%if (category == 0 or category!=subCategory.cid)%}
{%if category!=subCategory.cid%}
</ul></ul>
{%endif%}
<ul>
    <li><input id='cat_{{subCategory.cid}}' type="checkbox" name="category[]" value="{{subCategory.cid}}" />{{subCategory.cname}} </li>
    <ul>
        <li><input class="{{subCategory.cid}}" id="subcat_{{subCategory.cid}}_{{subCategory.id}}" type="checkbox" name="subCategory[]" value="{{subCategory.id}}" />{{subCategory.name}}</li>
    {%set category = subCategory.cid%}
    {%else%}
        <li><input class="{{subCategory.cid}}" id="subcat_{{subCategory.cid}}_{{subCategory.id}}" type="checkbox" name="subCategory[]" value="{{subCategory.id}}" />{{subCategory.name}}</li>
{%endif%}        
{%endfor%}
</ul>
</ul>
</div>

<button id='filter_btn'>Filter</button>

<br><br>



{% block default_courses%}

<div id="default_courses">
Courses :
<br>
{%for course in courses %}
<ul><ul>
<h4><a href="{{ path("course", { 'id' : course.id})}}">{{ course.name }}</a></h4>
<li><p>{{ course.description }}</p></li>
</ul></ul><br>
{%endfor%}
</div>

{% endblock%}




{% block filtered_courses%}

<div id="filtered_courses">
<ul id="course_list"></ul>
</div>

{% endblock %}




{% endblock %}
