{#% set loggedInUser = app.session.get('User') %#}

{% block title %}
FrontEndBundle:Homepage:index
{% endblock %}



{% block js %}

<script type='text/javascript' src='{{ asset('js/jquery.js') }}'></script>
{#<script type='text/javascript' src='{{ asset('js/subscribe.js') }}'></script>#}
{% endblock%}



{% block body %}

<h1>Welcome to the Course page</h1>
{{ dump(loggedInUser) }}
<br><br>

{% endblock%}

{% block admin %}
{% endblock %}

{% if loggedInUser %}
{% block logout_button%}

<a href="{{ path('logout') }}"><b>logout</b></a><br><br><br>

{% endblock %}
{% endif %}


{% block course%}
<div id="course_details">
        <ul id="course_id" value="{{ course.id}}"><b>Course id</b> : {{course.id}}</ul><br>
        <li>Course name : {{course.name}}</li><br>
        <li>Course Cat : {{course.catname}}</li><br>
        <li>Course SubCat : {{course.subcatname}}</li><br>
        <li>Course description : {{course.description}}</li><br>
        <li>Course instructor name : {{course.ins_name}}</li><br>
        <li id="pid" value="{{ course.pid}}">Course paymentPlan id : {{course.pid}}</li><br>
        <li>Course price : ${{course.price}}</li><br>
        <li id="expiryTime" value="{{ course.expirytime}}">Course expirytime : {{course.expirytime}}</li><br>
        <li>Course discount : {{course.discountPercent}}</li><br>
        <li>course re-subscription fee : ${{course.resubscriptionPrice}}</li><br><br>
</div>
{% endblock %}

{% block progress %}
{% endblock %}

{% block analysis %}
{% endblock %}

{% block study %}
{% endblock %}
 
{% block editOption %}
{% endblock %}

{% if loggedInUser %}
{% block subscribe %}
{% endblock%}
{% else %}
{% block subscribe_login %}
{% endblock %}
{% endif %}

{% block javascript %}
{% endblock %}


{#% if loggedInUser %}
{% block subscribe%}
        <div id="subscribe_study">
        <button id="subscribe">Subscribe</button>
        </div>
{% endblock %}


{% else %}
{% block notLoggedIn %}
        <div id="login">
        <button id="login_btn">Subscribe</button>
        </div>
{% endblock %}
<div id="confirm">
    <button id="confirm_btn">Confirm</button>
</div>
{% endif %#}






{#% block jss%}
<script>
$(document).ready(function()
        {
                if({{ subscriptionFlag.flag }})
                {
                    if({{ subscriptionFlag.expired }})
                    {
                        alert('your subscription has expired, please resubscribe');
                    }
                    else
                        {
                           $('#subscribe').remove();
                           $('#subscribe_study').append('<button id="study">study</button>'); 
                        }
                }
                
            $('#confirm').hide();
            
            $('#subscribe').click(function()
                {
                    $("#course_details").hide();
                    $('#subscribe').hide();
                    $('#confirm').show();
                    $('#confirm_btn').click(function()
                            {
//                                var course_id = $('#course_id').val();
//                                var pid = $('#pid').val();
//                                var expiryTime = $('#expiryTime').val();
                                $.post('/subscribe', {
                                                            'course_id' : {{ course[0].id}},//course_id,//$('#course_id').val(),
                                                            'pid' : {{ course[0].pid}},//pid,//$('#pid').val(),
                                                            'expiryTime' : {{ course[0].expirytime}}//expiryTime//$('#expiryTime').val()
                                                            },
                                        function(msg)
                                        {
                                            if(msg.success === 1)
                                                {
                                                    alert('successfully subscribed. Redirecting to dashboard');
                                                    window.location.href = '/';
                                                }
                                            else if(msg.success === 0)
                                                {
                                                    alert('some error occurred, please try again');
                                                }
                                                else
                                                {
                                                    alert('course has been resubscribed');
                                                    window.location.href = '/';
                                                }
                                        },
                                        'json'
                           );
                    })
                }
            );
        
        $('#login_btn').click(function()
            {
                alert('you are not registered. Please SignUp.');
                window.location.href = '/';
            });
        
    }
        );
        </script>
{%endblock%#}